<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <% button_to "Novo Cliente", new_cliente_path, :method => "get", class: "btn btn-default btn-xs" %>
        <% link_to 'Novo Cliente', new_cliente_path %>
        <%= link_to " Novo Cliente", new_cliente_path, :method => "get", class: " fa fa-plus-circle btn btn-default btn-xs"%> 
      </div>
      <div align="right" class="col-md-9">
        <%= form_tag clientes_path, method: :get do  %>
            <i class="fa fa-search label-tema" aria-hidden="true"></i>
            <%= text_field_tag :nome, @nome_buscar, class: "input-sm", placeholder: "buscar clientes ... " %>
            <% button_to "Buscar", nil, class: "fa fa-search btn btn-defaut btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <% @clientes.each do |cliente| %>
  <div class="col-md-3">
    <ul class="small list-group">
      <strong><%= link_to cliente.nome, cliente, class: 'list-group-item', title: 'ver cliente', align: 'center' %></strong>
      <li class="list-group-item">
        <i class="fa fa-book label-tema label-tema" aria-hidden="true"></i> 5 Atendimentos abertos<br>
        <i class="fa fa-money label-tema label-tema" aria-hidden="true"></i> 2 Títulos em aberto<br>
      </li>
      <li class="list-group-item">
        <% link_to '', cliente, class: 'btn btn-default btn-xs fa fa-eye', title: 'ver cliente' %>
        <%= link_to '', edit_cliente_path(cliente), class: 'btn btn-default btn-xs fa fa-pencil-square-o', title: 'editar cliente' %>
      </li>
    </ul>
  </div>
  <% end %>
</div>







