<p id="notice"><%= notice %></p>

<h3>Clientes</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Contato</th>
      <th>Telefone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.id %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cnpj %></td>
        <td><%= cliente.contato %></td>
        <td><%= cliente.telefone %></td>
        <td><%= link_to 'ver', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<div class="panel panel-default">
  <div class="panel-body">
    <%= button_to "Novo Cliente", new_cliente_path, :method => "get", class: "btn btn-primary" %>
    <% link_to 'Novo Cliente', new_cliente_path %>
  </div>
</div>
