<%= form_for(@comentario) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :usuario %><br>
    <%= f.text_field :user, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: "form-control", rows: 8 %>
  </div>
  
  <div class="form-group">
    <% f.label :atendimento_id %><br>
    <% f.number_field :atendimento_id %>
  </div>
  <%= f.hidden_field :atendimento_id %>

  <div class="form-group">
    <%= f.submit "Adicionar comentario", class: "btn btn-primary" %>
  </div>
<% end %>
