<%= form_for(@atendimento) do |f| %>
  <% if @atendimento.errors.any? %>
    <div id="error_explanation", class="alert alert-danger">
      <h2><%= pluralize(@atendimento.errors.count, "error") %> prohibited this atendimento from being saved:</h2>

      <ul>
      <% @atendimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :cliente %>
    <%= f.collection_select :cliente_id, @cliente, :id, :nome, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Tipo de atendimento" %>
    <%= f.collection_select :tipoatendimento_id, @tipoatendimento, :id, :descricao, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :assunto %><br>
    <%= f.text_field :assunto, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: "form-control", rows: 8 %>
  </div>

 <div class="form-group">
    <%= f.label :usuario %>
    <%= f.collection_select :user_id, @user, :id, :email, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-default btn-xs" %>
  </div>
<% end %>
