<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
  <div class="row">
    <div class="col-md-2">
      <%= button_to "Novo Atendimento", new_atendimento_path, :method => "get", class: "btn btn-primary btn-xs " %> 
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
  </div>   

  </div>
</div>

<div class="row">
    <% @atendimentos.each do |atendimento| %>
    <div class="col-md-3">
          <ul class="small list-group">
            <li class="list-group-item"><span class="label label-info">Nº <%= atendimento.id %></span>
          <%= atendimento.tipoatendimento.descricao %></li>
            <li class="list-group-item"><%= atendimento.assunto %></li>
            <li class="list-group-item"><%= atendimento.cliente.nome %></li>
            <li class="list-group-item">
              <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target= <%= "#" + atendimento.id.to_s %> ><i class="fa fa-eye" aria-hidden="true"></i></button>
              <i class="fa fa-comments" aria-hidden="true"></i><%= atendimento.comentarios.count %>
            </li>
          </ul>
    </div>

    <div id=<%= atendimento.id.to_s %> class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 align="center" class="modal-title"><i class="fa fa-eye" aria-hidden="true"></i> Atendimento Nº <%= atendimento.id %></h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>
                  <strong>Data de criação:</strong>
                  <%= post_date atendimento.created_at %>
                </p>
                <p>
                  <strong>Cliente:</strong>
                  <%= atendimento.cliente.nome %>
                </p>
                <p>
                  <strong>Tipo de atendimento:</strong>
                  <%= atendimento.tipoatendimento.descricao %>
                </p>
                <p>
                  <strong>usuário:</strong>
                  <%= atendimento.user.email %>
                </p>
                <p>
                  <strong>Assunto:</strong>
                  <%= atendimento.assunto %>
                </p>
                <p>
                  <strong>Descricao:</strong>
                  <%= atendimento.descricao %>
                </p>
                <p>
                  <strong>Status:</strong>
                  <%= atendimento.status %>
                </p>
              </div>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th><i class="fa fa-comments" aria-hidden="true"></i> Comentários</th>
                  </tr>
                  <tr>
                    <th><%= link_to 'Adicionar comentário', atendimento, class: "btn btn-default btn-xs" %></th>
                  </tr>
                </thead>

                <tbody>
                  <% atendimento.comentarios.each do |comentario| %>
                    <tr>
                      <td>
                        <%= post_date comentario.created_at %>
                        <br>
                        <strong><%= comentario.user %></strong>
                        <br>
                        <%= comentario.descricao %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
          </div>
        </div>
      </div>
    </div>

    <% end %>
</div>


