<p id="notice"><%= notice %></p>

<h1>Atendimentos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Código</th>
      <th>Data de abertura</th>
      <th>Cliente</th>
      <th>Usuário</th>
      <th>Tipo de atendimento</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @atendimentos.each do |atendimento| %>
      <tr>
        <td><%= atendimento.id %></td>
        <td><%= atendimento.created_at %></td>
        <td><%= atendimento.cliente.nome %></td>
        <td><%= atendimento.user.email %></td>
        <td><%= atendimento.tipoatendimento.descricao %></td>
        <td><%= atendimento.status %></td>
        <td><%= link_to 'Ver', atendimento %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Atendimento', new_atendimento_path %>
