<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
  <div class="row">
    <div class="col-md-2">
      <%= button_to "Novo Atendimento", new_atendimento_path, :method => "get", class: "btn btn-primary btn-xs " %> 
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
    <div class="col-md-2">
      <p></p>  
    </div>
  </div>   

  </div>
</div>

<div class="row">
    <% @atendimentos.each do |atendimento| %>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="label label-info">Nº <%= atendimento.id %></span>
          <%= atendimento.assunto %>
        </div>
        <div class="panel-body"> 
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td class=" small"><b>Cliente:</b> <%= atendimento.cliente.nome %></td>
              </tr>
              <tr>
                <td class=" small"><b>Criado em:</b> <%= post_date atendimento.created_at %></td>
              </tr>
              <tr>
                <td class=" small"><b>Usuário:</b> <%= atendimento.user.email %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div align="center" class="panel-footer">
          <%= link_to 'Ver Atendimento', atendimento, class: "btn btn-default btn-xs" %>
        </div>
      </div>
    </div>
    <% end %>
</div>


