<p id="notice"><%= notice %></p>

<h3>Atendimentos</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Código</th>
      <th>Data de abertura</th>
      <th>Cliente</th>
      <th>Usuário</th>
      <th>Tipo de atendimento</th>
      <th>Assunto</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @atendimentos.each do |atendimento| %>
      <tr>
        <td><%= atendimento.id %></td>
        <td><%= post_date atendimento.created_at %></td>
        <td><%= atendimento.cliente.nome %></td>
        <td><%= atendimento.user.email %></td>
        <td><%= atendimento.tipoatendimento.descricao %></td>
        <td><%= atendimento.assunto %></td>
        <td><%= atendimento.status %></td>
        <td><%= link_to 'Ver', atendimento %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="panel panel-default">
  <div class="panel-body">
    <%= button_to "Novo Atendimento", new_atendimento_path, :method => "get", class: "btn btn-primary" %>
    <% link_to 'Novo Atendimento', new_atendimento_path, class: "btn btn-primary" %> 
</div>