<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>


<h1>Atendimento: <%= @atendimento.id %></h1>
  


<p>
  <strong>Data de criação:</strong>
  <%= @atendimento.created_at %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @atendimento.cliente.nome %>
</p>

<p>
  <strong>Tipo de atendimento:</strong>
  <%= @atendimento.tipoatendimento.descricao %>
</p>

<p>
  <strong>usuário:</strong>
  <%= @atendimento.user.name %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @atendimento.assunto %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atendimento.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @atendimento.status %>
</p>






<table class="table table-bordered table-striped">
  <tbody>
    <% @atendimento.resposta.each do |respostum| %>
      <tr>
        <td>
        	<p>
			  <strong>Data:</strong>
			  <%= respostum.created_at %>
			  <strong>Usuário:</strong>
			  <%= respostum.user.name %>
			</p>
			<p>
			  <strong>Resposta:</strong>
			  <br>
			  <%= respostum.descricao %>
			</p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>






<%= link_to 'Nova Resposta', new_respostum_path %> 

<br>
<br>