<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>


<h3>Atendimento: <%= @atendimento.id %></h3>
  
<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Data de criação:</strong>
      <%= post_date @atendimento.created_at %>
    </p>

    <p>
      <strong>Cliente:</strong>
      <%= @atendimento.cliente.nome %>
    </p>

    <p>
      <strong>Tipo de atendimento:</strong>
      <%= @atendimento.tipoatendimento.descricao %>
    </p>

    <p>
      <strong>usuário:</strong>
      <%= @atendimento.user.email %>
    </p>

    <p>
      <strong>Assunto:</strong>
      <%= @atendimento.assunto %>
    </p>

    <p>
      <strong>Descricao:</strong>
      <%= @atendimento.descricao %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @atendimento.status %>
    </p>
  </div>
</div>



<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Comentários</th>
    </tr>
  </thead>

  <tbody>
    <% @atendimento.comentarios.each do |comentario| %>
      <tr>
        <td>
        	<%=  comentario.created_at %>
        	<br>
        	<strong><%= comentario.user %></strong>
        	<br>
        	<%= comentario.descricao %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= render 'comentarios/form' %>

<br>
<br>