<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>


<h3>Atendimento: <%= @atendimento.id %></h3>
  

<div class="panel panel-default">
  <div class="panel-body">
    <span class="label label-info" title="Atendimento em Aberto"><i class="fa fa-unlock" aria-hidden="true"></i></span>
    <span class="label label-info" title="Atendimento em Aberto"><i class="fa fa-calendar" aria-hidden="true"></i> aberto em <%= post_date @atendimento.created_at %></span>
    </p>
    <p><i class="fa fa-bookmark label-tema" aria-hidden="true"></i><%= " "+ @atendimento.tipoatendimento.descricao %></p>
    <p><i class="fa fa-user label-tema " aria-hidden="true"></i> <%= @atendimento.user.email %></p>
    <p><strong>Cliente:</strong><%= @atendimento.cliente.nome %></p>
    <p><strong>Assunto:</strong><%= @atendimento.assunto %></p>
    <p><strong>Descricao:</strong><%= @atendimento.descricao %></p>
  </div>
</div>



<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><i class="fa fa-comments" aria-hidden="true"></i>Comentários</th>
    </tr>
  </thead>

  <tbody>
    <% @atendimento.comentarios.each do |comentario| %>
      <tr>
        <td>
        	<%=  comentario.created_at %>
        	<br>
        	<strong><%= comentario.user %></strong>
        	<br>
        	<%= comentario.descricao %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= render 'comentarios/form' %>

<br>
<br>