<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Assunto:</strong>
  <%= @atendimento.assunto %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atendimento.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @atendimento.status %>
</p>

<%= link_to 'Editar', edit_atendimento_path(@atendimento) %> |
<%= link_to 'Listar atendimentos', atendimentos_path %>
