<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-body">
    <%= button_to "Novo Tipo de atendimento", new_tipoatendimento_path, :method => "get", class: "btn btn-primary btn-xs" %>
    <% link_to 'Novo Tipo de atendimento', new_tipoatendimento_path %>
  </div>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoatendimentos.each do |tipoatendimento| %>
      <tr>
        <td><%= tipoatendimento.descricao %></td>
        <td><%= link_to 'Ver', tipoatendimento %></td>
        <td><%= link_to 'Editar', edit_tipoatendimento_path(tipoatendimento) %></td>
      </tr>
    <% end %>
  </tbody>
</table>



