<p id="notice"><%= notice %></p>

<h1>Tipos de atendimentos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoatendimentos.each do |tipoatendimento| %>
      <tr>
        <td><%= tipoatendimento.descricao %></td>
        <td><%= link_to 'Ver', tipoatendimento %></td>
        <td><%= link_to 'Editar', edit_tipoatendimento_path(tipoatendimento) %></td>
        <td><%= link_to 'Deletar', tipoatendimento, method: :delete, data: { confirm: 'tem certeza que deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de atendimento', new_tipoatendimento_path %>
