<%= form_for(@respostum) do |f| %>
  <% if @respostum.errors.any? %>
    <div id="error_explanation", class="alert alert-danger">
      <h2><%= pluralize(@respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
      <% @respostum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: "form-control", rows: 8 %>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
