<p id="notice"><%= notice %></p>

<h1>Respostas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resposta.each do |respostum| %>
      <tr>
        <td><%= respostum.descricao %></td>
        <td><%= link_to 'Ver', respostum %></td>
        <td><%= link_to 'Editar', edit_respostum_path(respostum) %></td>
        <td><%= link_to 'Deletar', respostum, method: :delete, data: { confirm: 'Tem certeza que deseja deletar a resposta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'nova Resposa', new_respostum_path %>
