<!DOCTYPE html>
<html>
<head>
  <title>Lilcrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  	 <%= render 'layouts/header' %>
	 <div class="container">
	 <% if logged_in? %>
	  <%= yield %>
	 <%else %>
		<div class="row">
		  <div class="col-md-12">
		    <div class="panel panel-default">
		      <div class="panel-body">
		        <h3>lilCRM</h3>
		        <p align="center"><strong>lilCRM é um projeto de CRM simples em estado inicial. <a target="blank" href="https://github.com/gabebarbosa/lilcrm"><i class="fa fa-github" aria-hidden="true"></i></a></strong></p><hr>
		        <p><strong>Objetivo: </strong>Um controle simples do relacionamento da empresa com seus clientes por meio de atendimentos  </p><hr>
		        <p>Funcionalidades sendo implementadas no status atual do projeto:</p>
		        <ul>
		          <li><i class="fa fa-book label-tema" aria-hidden="true"></i> Atendimentos</li>
		          <li><i class="fa fa-comments label-tema" aria-hidden="true"></i> Comentários em atendimentos</li>
		          <li><i class="fa fa-bookmark label-tema" aria-hidden="true"></i> Tipos de atendimentos</li>
		          <li><i class="fa fa-users label-tema" aria-hidden="true"></i> Clientes</li>
		          <li><i class="fa fa-tags label-tema" aria-hidden="true"></i> Caracterirsticas de clientes</li>
		          <li><i class="fa fa-user label-tema" aria-hidden="true"></i> Usuários</li>
		          <li><i class="fa fa-filter label-tema" aria-hidden="true"></i> Filtros</li>
		        </ul>
		        <hr>
		        <p>Funcionalidades Futuras:</p>
		        <ul>
		          <li><i class="fa fa-sitemap label-tema" aria-hidden="true"></i> Ciclos de atendimentos</li>
		          <li><i class="fa fa-bar-chart label-tema" aria-hidden="true"></i> Relatórios</li>
		          <li><i class="fa fa-calendar label-tema" aria-hidden="true"></i> Agenda</li>
		          <li><i class="fa fa-money label-tema" aria-hidden="true"></i> Finanças</li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div> 
	 <% end %>
	 <div/>


<!-- Apagar essa loucura
<div class="row">
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5">
		  <h2></h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="15">
		  <h2></h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>L</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="15">
		  <h2>I</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20">
		  <h2>L</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="22">
		  <h2>-</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>C</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5">
		  <h2>R</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>M</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5">
		  <h2></h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="12">
		  <h2></h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2></h2>
		</marquee>
	</div>
</div>
 Apagar essa loucura -->


</body>
</html>
