<!DOCTYPE html>
<html>
<head>
  <title>Lilcrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  	 <%= render 'layouts/header' %>
	 <div class="container">
	  <%= yield %>
	 <div/>


<!-- Apagar essa loucura -->
<div class="row">
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5">
		  <h2>I</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="15">
		  <h2>N</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>D</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="15">
		  <h2>E</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20">
		  <h2>V</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="22">
		  <h2>A</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>-</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5">
		  <h2>C</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>R</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5">
		  <h2>M</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="12">
		  <h2>-</h2>
		</marquee>
	</div>
	<div class="col-md-1">
		<marquee heigth="50px" direction="DOWN" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
		  <h2>!</h2>
		</marquee>
	</div>
</div>
<!-- Apagar essa loucura -->


</body>
</html>
