<p id="notice"><%= notice %></p>

<h1>Caracteristicas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristicas.each do |caracteristica| %>
      <tr>
        <td><%= caracteristica.descricao %></td>
        <td><%= link_to 'ver', caracteristica %></td>
        <td><%= link_to 'Editar', edit_caracteristica_path(caracteristica) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Caracteristica', new_caracteristica_path %>
